<main class="d-flex flex-column min-vh-100">
    <header class="bg-primary bg-gradient shadow-sm text-light">
        <div class="container py-2 px-3">
            <h1>Chatting app</h1>
        </div>
    </header>

    <div class="container d-flex flex-grow-1 py-4 px-3 justify-content-center">
        <app-login></app-login>
    </div>

    <footer class="bg-secondary shadow-sm text-light">
        <div class="container py-2 px-3">
            <p>
                <strong>Created by:</strong> Farkas Boldizsár
                (boldizsar.farkas@gmail.com)
            </p>
        </div>
    </footer>
</main>
