<div class="d-flex min-vh-100 flex-column">
    <div class="rooms flex-grow-1 p-2">
        <h2 class="fs-6 mb-2">Messages</h2>

        <button
            type="button"
            class="btn btn-dark border-dark-subtle position-relative w-100 mb-2"
            [ngClass]="{ active: selectedChannel === 'public' }"
            (click)="selectChannel('public')"
        >
            <i class="bi bi-person-square me-2"></i><span>Common Room</span>
        </button>

        <button
            type="button"
            class="btn btn-dark border-dark-subtle position-relative w-100 mb-2"
            [ngClass]="{ active: selectedChannel === user.name }"
            (click)="selectChannel(user.name)"
            *ngFor="let user of chatUsers"
        >
            <i class="bi bi-person-square me-2"></i><span>{{ user.name }}</span>
        </button>
    </div>

    <div class="user-section p-2">
        <app-user-section></app-user-section>
    </div>
</div>
