<div class="d-flex min-vh-100 flex-column">
    <div class="rooms flex-grow-1 p-2">
        <h2 class="fs-6 mb-2">Messages</h2>

        <button
            type="button"
            class="btn btn-dark border-dark-subtle position-relative w-100 mb-2 active"
        >
            <i class="bi bi-people-fill me-2"></i><span>Common Room</span>
            <span
                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
            >
                42
                <span class="visually-hidden">unread messages</span>
            </span>
        </button>

        <button
            type="button"
            class="btn btn-dark border-dark-subtle position-relative w-100 mb-2"
        >
            <i class="bi bi-person-square me-2"></i><span>Kriszace</span>
            <span
                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
            >
                3
                <span class="visually-hidden">unread messages</span>
            </span>
        </button>

        <button
            type="button"
            class="btn btn-dark border-dark-subtle position-relative w-100 mb-2"
        >
            <i class="bi bi-person-square me-2"></i><span>Locitrom</span>
        </button>

        <button
            type="button"
            class="btn btn-dark border-dark-subtle position-relative w-100 mb-2"
        >
            <i class="bi bi-person-square me-2"></i><span>EpicMouse</span>
        </button>
    </div>

    <div class="user-section p-2">
        <app-user-section></app-user-section>
    </div>
</div>
