<footer>
    <div class="d-flex container py-3 px-3 fw-light justify-content-center">
        <div class="d-flex">
            <span class="fw-normal pe-4">Created by:</span>

            <span class="pe-4">
                <i class="bi bi-person"></i> Farkas Boldizsár
            </span>

            <span class="pe-4 d-none d-md-inline">
                <i class="bi bi-envelope-at"></i> boldizsar.farkas@gmail.com
            </span>

            <span class="d-none d-md-inline">
                <i class="bi bi-telephone"></i> +36 70 344 7057
            </span>
        </div>
    </div>
</footer>
