.chat-area {
    background-color: #282b31;

    .message-board {
        overflow-y: auto;
        height: 50vh;

        .message-sender {
            font-size: 12px;
        }

        .message {
            background-color: #4345524a;
        }
    }

    #messageBox {
        resize: none;
    }
}


