<!-- eslint-disable @angular-eslint/template/no-autofocus -->
<div class="d-flex flex-row">
    <app-side-bar class="col-4 col-md-3 col-lg-2"></app-side-bar>

    <div class="col-8 col-md-9 col-lg-10">
        <div class="d-flex min-vh-100 flex-column w-100 chat-area">
            <header class="bg-dark text-light shadow">
                <div class="d-flex container py-2 px-3 justify-content-center">
                    <h1 class="fs-5">
                        <i class="bi bi-chat-dots-fill me-2"></i>Chatting app
                    </h1>
                </div>
            </header>

            <div class="container d-flex flex-grow-1 py-4 px-5">
                <div class="d-flex flex-column w-100">
                    <h3 class="fs-4 text-light-emphasis mb-3">
                        {{ chatTitle }}
                    </h3>

                    <div class="message-board flex-grow-1 mb-3" #messageBoard>
                        <div
                            class="d-flex"
                            *ngFor="let message of messages; let i = index"
                        >
                            <div *ngIf="message.type === messageType.JOIN">
                                <p class="message-sender mt-2 fw-light">
                                    {{ message.sender }} has joined the chat.
                                </p>
                            </div>

                            <div
                                class="d-flex align-items-center"
                                [ngClass]="{
                                    'mt-2': !isSameSender(i),
                                    'mt-1': isSameSender(i)
                                }"
                                *ngIf="message.type === messageType.MESSAGE"
                            >
                                <i
                                    [ngClass]="{
                                        invisible: isSameSender(i)
                                    }"
                                    class="bi bi-person-circle fs-4 align-self-end me-2"
                                ></i>
                                <div class="d-flex flex-column">
                                    <span
                                        *ngIf="!isSameSender(i)"
                                        class="message-sender mb-1 fw-light"
                                        >{{ message.sender }}</span
                                    >
                                    <p
                                        class="message border py-1 px-2 rounded shadow-sm"
                                    >
                                        {{ message.message }}
                                    </p>
                                </div>
                            </div>

                            <div *ngIf="message.type === messageType.LEAVE">
                                <p class="message-sender mt-2 fw-light">
                                    {{ message.sender }} has left the chat.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="message box">
                        <form (ngSubmit)="sendMessage()" #messageForm="ngForm">
                            <div class="input-group">
                                <textarea
                                    class="form-control"
                                    id="messageBox"
                                    rows="2"
                                    placeholder="Send a message..."
                                    autofocus
                                    [(ngModel)]="chatMessage"
                                    [ngModelOptions]="{ standalone: true }"
                                    #messageTextarea="ngModel"
                                    required
                                    (keydown.enter)="
                                        messageBoxEnterPressed($event)
                                    "
                                ></textarea>
                                <button
                                    class="btn btn-outline-secondary"
                                    type="submit"
                                    [disabled]="messageTextarea.invalid"
                                    (click)="sendMessage()"
                                >
                                    <i class="bi bi-send"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <app-footer></app-footer>
        </div>
    </div>
</div>
